.cartImage {
    width: 300px;
    background-color: antiquewhite;
    border-radius: 0.5rem;
    height: 100%;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.cartImageDiv {
    width: 100%;
}

button {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0 1rem;
    border-radius: 5rem;
}

.cartImageDiv img {
    width: 90%;
    margin: auto;
}

.cartFlex {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
}

.cartDetails {
    display: flex;
    gap: 40px;
}
.summary {
    text-align: right;
    margin-bottom: 1rem;
}

.checkOutBox {
    background-color: antiquewhite;
    padding: 0 4rem;
   
}
.checkOutTitle {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.checkOutBox {
    display: block;
}

.shopMore {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: block;
    margin: auto;
}
.shopMore a {
    text-decoration: none;
    color: #000;
}

.shopMore:hover {
    background-color: black;
    color: white;
}

.shopMore a:hover {
    color: white;
}

.checkOut {
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    margin-right: 15rem;
}

.checkOut a {
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
}

.proceedCheckOut {
    display: flex;
    justify-content: right;
}

.checkOut:hover {
    background-color: black;
}
.checkOut a:hover {
    color: white;
}
@media only screen and (max-width: 550px) {
.cartFlex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.h2{
    margin-bottom: 2rem;
}
.checkOut {
    margin-top: 5rem;
}

.cartImage {
    display: block;
    margin: auto;
}
.checkOutBox {
    display: block;
    margin: auto;
    padding:0.4rem 2rem;
}

.totalPrice h3 {
    display: block;
    width: 100%;
    padding-right: 5rem;
    padding-bottom: 2rem;
    text-align: right;
}

.proceedCheckOut {
   padding-top: 2rem;
}

.checkOut {
    display: block;
    margin: auto;
}
}

@media screen and (min-device-width: 550px) and (max-device-width: 950px) { 
    .cartFlex {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .cartImage{
        width: 300px;
        min-width: 200px;
    }
    .h2{
        margin: 2rem 0;
    }
}