.navbar {
    width: 100vw;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    background: rgb(61, 59, 59);
    overflow-x: hidden;
}
.inputText {
    display: flex;
    align-items: center;
}
.searchInput {
    min-width: 8rem;
  width: 25rem;
  outline: none;
  font-size: 1.5rem;
  height: 3.5rem;
  padding-left: 1rem;
  border-radius: 0.7rem;
  /* border-radius:0.7rem 0 0 0.7rem; */
  border: none;
}
/* .search {
    background: rgb(234, 42, 58);
    min-width: 3rem;
    width: 5rem;
    color: white;
    font-size: 1rem;
    height: 3rem;
    border-radius: 0 0.9rem 0.9rem 0;
    outline: none;
    border: none;
} */
::placeholder {
    font-size: 1.5rem;
    padding-left: 0.7rem;
}

.links {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}
.links a {
    text-decoration: none;
    color: white;
    margin-left: 1.2rem;
    font-size: 1.5rem;
    
}