/* Top home begin style */
*::-webkit-scrollbar {
  display: none;
}

.topContainer {
  padding: 2rem 0;
  gap: 30px;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 4rem;
}

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 4rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 45px;
  padding-bottom: 0.5rem;
}
.header p {
  font-size: 1.3rem;
}
/* Top home begin style end*/

/* productCard styling */
.testing {
  width: 100vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  place-items: center;
  gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  overflow-x: hidden;
  margin-top: 2em;
}

.productCover {
  width: 400px;
  height: 100%;
  border-radius: 0.4rem;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.productHead {
  text-align: center;
  margin: 1.5rem 0;
  color: white;
}

.productImg {
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 1.2em;
}

.productImg img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.textCover {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 20px;
  color: black;
  font-weight: 700;
  gap: 0.4rem;
}

.oldPrice {
  text-decoration: line-through;
  margin-right: 3px;
  opacity: 0.7;
}

.discountPercent {
  vertical-align: super;
  font-size: 60%;
  color: red;
}
.cartBtn {
  background-color: transparent;
  color: black;
  font-weight: 600;
  border: 1px solid black;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 0.6rem;
}
.cartBtn:hover {
  color: white;
  background-color: black;
}

.description {
  font-style: italic;
  font-weight: 600;
}

/* productDetails */
.cartContainer {
  width: 100%;
  justify-content: center;
  align-items:end;
  display: flex;
  gap: 1rem;
}

.addCart {
  padding: 10px;
  border: 2px solid black;
  border-radius: 0.5rem;
}
.cartIncrement {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.addCart:hover,
.increment:hover {
  border: none;
  background-color: black;
  color: white;
  opacity: 0.8;
}

.increment {
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 0.3rem;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* productDetails end */

/*Home productCard style end */

/* about style start */
.aboutWrap {
  background-color: rgb(193, 184, 172);
  margin-top: 1rem;
}

.about {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutText {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 4rem;
}
.aboutText h1 {
  font-size: 2rem;
  line-height: 35px;
  padding-bottom: 0.5rem;
}

.aboutText p {
  font-weight: 500;
}
.aboutImage {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* about style end  */

/* footer style start */
.footer {
  font-family: sans-serif, Arial, Helvetica;
  background-color: black;
}
.footerFlex {
  padding-top: 2rem;
  display: flex;
  margin-left: 3rem;
  gap: 17rem;
}

.divFooter {
  opacity: 0.7;
  justify-content: space-between;
  line-height: 20px;
}

.divFooter a {
  display: flex;
  color: white;
  flex-direction: column;
  text-decoration: none;
}

a {
  color: rgb(221, 211, 211);
}
/* footer style end */

/* 
.create {
  width: 18rem;
  border: none;
  margin-right: 2rem;
  padding: 0.6rem 0;
  border-radius: 0.4rem;
  color: white;
  font-size: 1.2rem;
  background-color: blueviolet;
}

.create:hover {
  cursor: pointer;
  background-color: rgb(38, 16, 59);
}

.createAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: auto;
  width: 25rem;
}
.Account {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.paragraphPrivacy {
  color: rgb(221, 211, 211);
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.log {
  background-color: rgba(237, 218, 218, 0.204);
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.logBtn {
  width: 18rem;
  margin-right: 4.5rem !important;
  border: 1px solid #ed017f;
  display: block;
  margin: auto;
  color: #ed017f;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  cursor: pointer;
  border-radius: 0.4rem;
}

.logBtn:hover {
  background-color: #ed59a8;
  color: white;
}

.log p {
  opacity: 0.5;
  margin-bottom: 0.3rem;
}
.login {
  width: 20rem;
  padding: 0.7rem 2rem;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
}
.login:hover {
  cursor: pointer;
  background-color: rgb(36, 28, 28);
}
.signUp:hover {
  background-color: #ed017f;
  color: white !important;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media only screen and (max-width: 320px) {
  .productCard {
    width: 300px;
  }
  .header h1 {
   font-size: 1.8rem; 
  }
  p {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .testing{
    padding: 0;
    margin: 0;
  }
  .topContainer, .img-container {
    margin-bottom: 2rem;
  }
 
  .productCover {
    width: 400px;
    margin: 0;
  }
  .productImg {
    width: 100%;
  }

  .productImg img {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  .about {
    grid-template-columns: 1fr;
  }

  .topContainer,
  .img-container {
    grid-template-columns: 1fr;
  }

  .header,
  .aboutText {
    padding-left: 0;
    /* text-align: center; */
  }
  .header h1 {
    font-size: 2.2rem;
    width: 100%;
    line-height: 55px;
    font-weight: 600;
  }
  .header p {
    font-size: 1.5rem;
    line-height: 40px;
    opacity: 100%;
  }

  .img-container {
    margin-top: 0;
  }
  .image1, .image2 {
    width: 450px;
  }
  .aboutText h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 48px;
  }

  .aboutText p {
    font-size: 1.5rem;
  }
  .aboutImage {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .aboutImage1,
  .aboutImage2 {
    width: 400px;
    margin: auto;
  }
  .footerFlex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .footerFlex a {
    color: white!important;
    font-size: 1.2rem;
  }
}

  @media screen and (min-device-width: 550px) and (max-device-width: 950px) { 
    .footerFlex {
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: center;
      align-items: center;
    }
    .footerFlex a {
      color: white;
      font-size: 1.5rem;
    }
  }

.brand_cat {
  display: flex;
  gap: 5px;
}

.prod_desc {
  font-style: italic;
}

.btn {
  display: block;
  margin: auto;
  border: none;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background-color: rgb(42, 41, 41);
  color: white;
  border-radius: 0.4rem;
}
